body {
  background-color: #ccb012;
}
form {
  background-color: #e29118;
  margin: 0 auto; 
  width: 500px; 
  padding: 20px; 
}
label {
  color: #000000;
}
input[type='text'], input[type='password'], input[type='email'] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(0, 0, 0);
  box-sizing: border-box;
}
button {
  width: 100%;
  background-color: #2f46c7;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: #c90f0f;
  }